<h2>New Post</h2>

<form action="/posts" method="post">
	<label for="title">Title</label>
	<input type="text" name="post[title]" id="title" value="<%= @post.title %>"/>

	<label for="body">Body</label>
	<textarea name="post[body]" id="body"><%= @post.body %></textarea>

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" value="Create New Post">
</form>