/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
   a {
   	text-decoration: none;
   }
   font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

body {
	padding: 0;
	margin: 0;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 10px 0;
	background-color: #A1A1A1;
	text-align: right;
	div {
		margin: 0 4%;
	}
}

.container {
	margin: 70px 8%;
}

div.errors {
	background-color: red;
	opacity: .8;
	border-radius: 5px;
	margin: 2%;
	ul {
		li {
			padding: 5px 0;
			font-size: 1.1em;
			color: white;
			font-weight: bold;
		}
	}
}