<h3>Login</h3>

<%= form_tag(session_path, method: :post) do %>
  <label for="username">username</label>
  <input type='text' name='username' id='username' 
    value='<%= params[:username] %>'>
  <br>
  <label for='password'>password</label>
  <input type='password' name='password' id='password'>
  <br>
  <input type='submit'>
<% end %>