<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>App Academy Forms Quiz</title>
  <style>
  
    body {
      max-width: 600px;
      padding: 10px 20px;
    }
  
    hr, h1, h2, form, .field {
      margin: 10px 0;
    }
  
    label {
      display: block;
    }
  
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
