<h2>Login</h2>

<form action="<%= session_url %>" method="post" >
  <label for="email">Email: </label>
  <input type="text" name="email" id="email" >
  <br><br>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" >
  <br><br>

  <%= render partial: 'shared/csrf_input.html.erb' %>
  <input type="submit" value="Login">
</form>
