<form action="<%= user_secrets_url(params[:id]) %>" method="post">
  <label for="secret_title">Title:
    <input type="text" name="secret[title]" id="secret_title">
  </label><br>
  <label for="secret_body">Body:
    <textarea name="secret[body]" id="secret_body"></textarea>
  </label><br>
  <label for="select_tag">Tag</label>
  <select id="select_tag" name="secret[tag_ids][]">
    <option></option>
    <% Tag.all.try(:each) do |tag|%>
      <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Post Secret">
</form>